.CenterDiv {
  flex: 1;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 2vmin;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.CenterDiv p {
  color: #282c34;
}
