.TodoItemContainer {
  width: 40vmax;
  min-height: 10vmax;
  border-radius: 5px;
  background-color: white;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmin;
}

.TodoItemHeader {
  font-weight: bold;
  color: #282c34;
  text-decoration: underline;
  margin: 0;
  margin-bottom: 5vmin;
}

.TodoText {
  margin: 0;
  white-space: pre-line;
}
